.p0{
	padding:0;
}
.p10{
	padding:10px;
}
.ptop0
{
     padding-top:0;
}
.pbottom0
{
     padding-bottom:0;
}
.pleft0
{
     padding-left:0;
}
.pright0
{
     padding-right:0;
}
.p12{
	padding:12px;
}
.p15{
	padding:15px;
}
.pleft0{
	padding-left:0;
}
.pright7{
	padding-right:7px;
} 
.pleft7{
	padding-left:7px;
} 
.pleft12{
	padding-left:12px;
}

.ptop12 
{
     padding-top:12px;
} 
.ptop5 
{
     padding-top:5px;
}
.ptop10 
{
     padding-top:10px;
}
.ptop15 
{
     padding-top:15px;
}
.ptop20 
{
            padding-top:20px;
} 
.ptop25 
{
            padding-top:25px;
} 
.ptop30 
{
            padding-top:30px;
} 
.ptop40 {
            padding-top:40px;
} 
.pbottom12 
{
     padding-bottom:12px;
} 
.pbottom5 
{
     padding-bottom:5px;
}
.pbottom10 
{
     padding-bottom:10px;
}
.pbottom15 
{
     padding-bottom:15px;
}
.pbottom20 
{
            padding-bottom:20px;
} 
.pbottom25 
{
            padding-bottom:25px;
} 
.pbottom30 
{
            padding-bottom:30px;
} 
.pbottom35 
{
            padding-bottom:35px;
} 
.pbottom40 {
            padding-bottom:40px;
} 
.pleft12 
{
     padding-left:12px;
} 
.pleft5 
{
     padding-left:5px;
}
.pleft10 
{
     padding-left:10px;
}
.pleft15 
{
     padding-left:15px;
}
.pleft20 
{
            padding-left:20px;
} 
.pleft25 
{
            padding-left:25px;
} 
.pleft30 
{
            padding-left:30px;
} 
.pleft40 {
            padding-left:40px;
} 
.pright12 
{
     padding-right:12px;
} 
.pright5 
{
     padding-right:5px;
}
.pright10 
{
     padding-right:10px;
}
.pright15 
{
     padding-right:15px;
}
.pright20 
{
            padding-right:20px;
} 
.pright25 
{
            padding-right:25px;
} 
.pright30 
{
            padding-right:30px;
} 
.pright40 {
            padding-right:40px;
}  