html{
    margin:0;
	padding:0;

    height:100%;
	width:100%;
}
body{
    margin:0;
	padding:0;
background: #D2E0F2;
    width:100%;
    height:100%; 
    font-size:14px;

}
.headerframe{
    width:100%;
    height:50px;
	position:relative;
    background:#16B8D8
}
.mainframe{
    width:100%;
    height:100%;
    position:relative; 

}
.left{
    width:204px;
    height:100%;
    float: left;
    background: url(../images/repeat_y_bg.png) 0 0 repeat-y;
}
.left .my{
    width:auto;
    height:100%;

    right:0;
    border-right:#e5f8fc 1px solid;
}
.left .my a{
    display:block;
    width:100%;
    padding:10px 0;
    text-align:center;
}
/*.right{*/
    /*height:auto;*/
    /*width:auto;*/
    /*overflow:hidden;*/
	/*background:#fff;*/
    /*float: left;*/
/*}*/
.right{
    background-color: #F7F7F7;
    position: absolute;
    z-index: 1;
    top: 2px;
    right: 0;
    bottom: 0;
    left: 204px;
}
.footerframe{
text-align: center;
    width:100%;
    height:23px;
color:#9DA5A5;
    font-size: 12px;
   line-height: 23px;
	background:#e5f8fc;
    position:absolute;
    bottom:0;
    border-top: dashed 0px #ff0000
}

.subject{
    width:100%;
    height:80%;
    border:#111 1px solid;
    position:relative;
    overflow:scroll;
    overflow-x:hidden;
}


.demo{
    WIDTH:190px;
    height:100%;
    overflow:scroll;
    overflow-x:hidden;
    position:absolute;
    bottom:0;

}
@media(max-width:480px){
	.right {
    background-color: #F7F7F7;
    position: absolute;
    z-index: 368;
    top: 2px;
    right: 0;
    bottom: 0;
    left: 204px;
}
}







