
  <div class="footer ptopbottom10"> 
   <div class="container"> 
    <div class="row clearfix"> 
     <div class="col-lg-8 column ptopbottom20 "> 
      <div>
        友情链接 
      </div> 
      <div class="ptopbottom10 lineheight180 mright30"> 
       <a>蓝港互动</a>&nbsp;&nbsp; 
       <a>金色财经</a>&nbsp;&nbsp; 
       <a>火星财经</a>&nbsp;&nbsp; 
       <a>雪花</a>&nbsp;&nbsp; 
       <a>OKEx</a>&nbsp;&nbsp; 
       <a>蓝港互动</a>&nbsp;&nbsp; 
       <a>金色财经</a>&nbsp;&nbsp; 
       <a>火星财经</a>&nbsp;&nbsp; 
       <a>雪花</a>&nbsp;&nbsp; 
       <a>OKEx</a>&nbsp;&nbsp; 
       <a>蓝港互动</a>&nbsp;&nbsp; 
       <a>金色财经</a>&nbsp;&nbsp; 
       <a>火星财经</a>&nbsp;&nbsp; 
       <a>雪花</a>&nbsp;&nbsp; 
       <a>OKEx</a>&nbsp;&nbsp; 
       <a>蓝港互动</a>&nbsp;&nbsp; 
       <a>金色财经</a>&nbsp;&nbsp; 
       <a>火星财经</a>&nbsp;&nbsp; 
       <a>雪花</a>&nbsp;&nbsp; 
       <a>OKEx</a>&nbsp;&nbsp; 
       <a>蓝港互动</a>&nbsp;&nbsp; 
       <a>金色财经</a>&nbsp;&nbsp; 
       <a>火星财经</a>&nbsp;&nbsp; 
       <a>雪花</a>&nbsp;&nbsp; 
       <a>OKEx</a>&nbsp;&nbsp; 
       <a>蓝港互动</a>&nbsp;&nbsp; 
       <a>金色财经</a>&nbsp;&nbsp; 
       <a>火星财经</a>&nbsp;&nbsp; 
       <a>雪花</a>&nbsp;&nbsp; 
       <a>OKEx</a>&nbsp;&nbsp; 
      </div> 
     </div> 
     <div class="col-lg-4 column ptopbottom20"> 
      <div>
        广告合作 
      </div> 
      <div class="ptopbottom10 lineheight180"> 
       <a>蓝港互动</a>&nbsp;&nbsp; 
       <a>金色财经</a>&nbsp;&nbsp; 
       <a>火星财经</a>&nbsp;&nbsp; 
       <a>雪花</a> 
      </div> 
     </div> 
    </div> 
    <div class="row clearfix mbottom-10">
        
    </div> 
   </div> 
  </div>  