html,
body {
  font-size: 100px;
  margin: 0;
  padding: 0;
}
.navBox {
  width: 100%;
  overflow: hidden;
}
.navBox .interlayer {
  background: #FFF;
  box-shadow: 0 0.02rem 0.04rem 0 rgba(72, 72, 72, 0.21);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1099;
  width: 100%;
}
.navBox .interlayer .content {
  width: 11.70rem;
  height: 0.76rem;
  margin: 0 auto;
  line-height: 0.76rem;
}
.navBox .interlayer .content .logBox {
  float: left;
}
.navBox .interlayer .content .logBox a {
  display: block;
  height: 100%;
  line-height: 0.76rem;
}
.navBox .interlayer .content .logBox a img {
  height: 0.4rem;
}
.navBox .interlayer .content .middle {
  float: left;
  margin-left: 0.25rem;
}
.navBox .interlayer .content .middle a {
  font-size: 0.16rem;
  text-decoration: none;
  color: #333;
  margin-left: 0.26rem;
  padding-bottom: 0.05rem;
}
.navBox .interlayer .content .middle a:hover {
  color: #F29700;
}
.navBox .interlayer .content .middle .active {
  color: #F29700;
  border-bottom: 3px solid #F29700;
}
.navBox .interlayer .content .navFinally {
  margin-left: 0.26rem;
  float: left;
  position: relative;
}
.navBox .interlayer .content .navFinally span {
  font-size: 0.3rem;
  line-height: 0.18rem;
  color: #D8D8D8;
  height: 0.42rem;
  width: 0.82rem;
  padding: 0 0.15rem 0.2rem 0px;
  cursor: pointer;
}
.navBox .interlayer .content .navFinally div {
  position: absolute;
  top: 0.65rem;
  right: -0.4rem;
  background: #FFF;
  z-index: 1200;
  padding: 0.1rem;
  border-radius: 0.03rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: none;
}
.navBox .interlayer .content .navFinally div a {
  display: block;
  font-size: 0.14rem;
  line-height: 0.26rem;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.navBox .interlayer .content .navFinally div a:hover {
  color: #F29700;
}
.navBox .interlayer .content .navFinally:hover div {
  display: block;
}
.navBox .interlayer .content .navRight {
  display: block;
  float: right;
  position: relative;
}
.navBox .interlayer .content .navRight .form,
.navBox .interlayer .content .navRight .mobile,
.navBox .interlayer .content .navRight .search {
  float: right;
  margin-right: 0.2rem;
  overflow: hidden;
  cursor: pointer;
}
.navBox .interlayer .content .navRight .form i,
.navBox .interlayer .content .navRight .mobile i,
.navBox .interlayer .content .navRight .search i {
  margin-top: 0.25rem;
  margin-right: 0.05rem;
  float: left;
  display: block;
  font-size: 0.24rem;
  color: #999;
}
.navBox .interlayer .content .navRight .form span,
.navBox .interlayer .content .navRight .mobile span,
.navBox .interlayer .content .navRight .search span {
  float: left;
  display: block;
  font-size: 0.16rem;
  color: #999;
}
.navBox .interlayer .content .navRight .mobile:hover .qrCode {
  display: block;
}
.navBox .interlayer .content .navRight .form:hover .contributeBox {
  display: block;
}
.navBox .interlayer .content .navRight .qrCode {
  display: none;
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  background: #FFF;
  z-index: 1210;
  padding: 0.2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.03rem;
}
.navBox .interlayer .content .navRight .qrCode img {
  width: 1.2rem;
  height: 1.2rem;
}
.navBox .interlayer .content .navRight .contributeBox {
  display: none;
  margin: 0;
  width: 1rem;
  padding: 0.1rem 0;
  position: absolute;
  top: 0.7rem;
  right: 0.4rem;
  background: #FFF;
  z-index: 1210;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.03rem;
}
.navBox .interlayer .content .navRight .contributeBox a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  color: #333;
  padding: 0 0.15rem;
  text-align: center;
  text-decoration: none;
  font-size: 0.14rem;
  overflow: hidden;
  height: 0.4rem;
  line-height: 0.4rem;
  margin: 0;
}
.navBox .interlayer .content .navRight .contributeBox a:hover {
  background: #EEE;
}
.navBox .interlayer .content .navRight .search-pop {
  margin-right: 1.35rem;
}
.navBox .interlayer .content .navRight .search-pop input {
  float: left;
  line-height: 0.8rem;
  width: 4rem;
  height: 0.34rem;
  margin: 0.16rem 0.1rem 0px 0.1rem;
  border-bottom: 1px solid #dcdcdc;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
}
.navBox .interlayer .content .navRight a {
  float: right;
  margin-left: 0.2rem;
}
.navBox .interlayer .content .navRight a img {
  width: 0.32rem;
  height: 0.32rem;
  display: inline-block;
  border-radius: 50%;
}
