.personal {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  overflow: hidden;
  background: #F7F8FA;
  font-size: 16px;
}
.personal .bg-content {
  width: 11.7rem;
  margin: 0.3rem auto;
  background: url("../image/bghome.jpg") no-repeat center;
  padding: 0.5rem 0;
  text-align: center;
  box-sizing: border-box;
  color: #FFF;
}
.personal .bg-content img {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.personal .bg-content .name {
  font-size: 0.25rem;
}
.personal .bg-content .tongji {
  width: 100%;
  padding: 0.1rem;
  font-size: 0.18rem;
}
.personal .bg-content .tongji div {
  display: inline-block;
  margin-right: 0.7rem;
}
.personal .bg-content .tongji div:nth-last-child(1) {
  margin-right: 0.2rem;
}
.personal .bg-content .tongji div p {
  margin: 0;
}
.personal .main-content {
  width: 11.7rem;
  margin: 0 auto;
  overflow: hidden;
}
.personal .main-content .left-content {
  background: #FFF;
  float: left;
  width: 2rem;
  padding-bottom: 3.5rem;
  border: 1px solid #ddd;
}
.personal .main-content .left-content .title {
  padding: 0.2rem 0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.personal .main-content .left-content .title img {
  border-radius: 50%;
  background-size: 1rem 1rem;
  width: 1rem;
  height: 1rem;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 0.01rem 0 rgba(0, 0, 0, 0.04), 0 0 4px -1px rgba(0, 0, 0, 0.08);
}
.personal .main-content .left-content .title span {
  font-size: 0.16rem;
  font-weight: bold;
  display: block;
}
.personal .main-content .left-content h2 {
  float: left;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.2rem;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0.07rem 0;
  background: #ede7e1;
}
.personal .main-content .left-content h2 img {
  position: absolute;
  top: 0;
  left: -0.06rem;
}
.personal .main-content .left-content .left-nav {
  padding: 0;
  margin: 0;
  width: 100%;
}
.personal .main-content .left-content .left-nav .active {
  color: #f00;
  background: #FFF;
}
.personal .main-content .left-content .left-nav a {
  border-bottom: 1px solid #ddd;
  line-height: 0.24rem;
  display: block;
  width: 100%;
  padding: 0.1rem 0;
  float: left;
  text-align: center;
  cursor: pointer;
  border-top: none;
  box-sizing: border-box;
  background: #f8f6f4;
  position: relative;
  text-decoration: none;
  color: #666;
}
.personal .main-content .left-content .left-nav a:nth-last-child(3) {
  float: left;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.2rem;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0.09rem 0;
  background: #ede7e1;
  font-weight: bold;
  color: #000;
}
.personal .main-content .left-content .left-nav a:nth-last-child(3) img {
  position: absolute;
  top: 0;
  left: -0.06rem;
}
.personal .main-content .left-content .left-nav a:nth-last-child(3):hover {
  background: #ede7e1;
  color: #000;
}
.personal .main-content .left-content .left-nav a:hover {
  color: #f00;
  background: #FFF;
}
.personal .main-content .left-content .left-nav a img {
  position: absolute;
  top: 0.11rem;
  left: 0.36rem;
  width: 0.24rem;
}
.personal .main-content .right-box {
  width: 9.3rem;
  float: right;
  background: #fff;
  padding: 0.2rem;
  box-sizing: border-box;
  border: 1px solid #ddd;
  min-height: 9.67rem;
  overflow: hidden;
}
.personal .main-content .right-box h3 {
  margin: 0 0 0.15rem;
  width: 100%;
  font-size: 0.18rem;
  padding: 0.1rem 0.05rem;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
.personal .main-content .right-content-1 .userimg {
  margin: 0 auto;
  padding: 0.3rem 0;
  text-align: center;
  position: relative;
}
.personal .main-content .right-content-1 .userimg .avatar-uploader > .ant-upload {
  width: 110px;
  border-radius: 50%;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #888;
  overflow: hidden;
}
.personal .main-content .right-content-1 .userimg .avatar-uploader > .ant-upload .ant-upload {
  padding: 0;
}
.personal .main-content .right-content-1 .userimg .avatar-uploader > .ant-upload .ant-upload-text {
  line-height: 1rem;
}
.personal .main-content .right-content-1 .userimg .avatar-uploader > .ant-upload img {
  width: 100%;
}
.personal .main-content .right-content-1 .userimg .avatar-uploader > .ant-upload .ant-upload-text {
  cursor: pointer;
  width: 100%;
  height: 100%;
  line-height: 1rem;
}
.personal .main-content .right-content-1 .userimg .avatar-uploader > .ant-upload i {
  display: none;
}
.personal .main-content .right-content-1 .information {
  width: 100%;
  float: left;
  padding: 0;
}
.personal .main-content .right-content-1 .information li {
  display: block;
  width: 100%;
  height: 0.6rem;
  line-height: 0.6rem;
  border-bottom: 1px solid #E1E1E1;
  color: #333;
}
.personal .main-content .right-content-1 .information li:nth-last-child(1) {
  border: none;
  margin-top: 0.2rem;
}
.personal .main-content .right-content-1 .information li span {
  display: inline-block;
  width: 25%;
  font-size: 0.16rem;
}
.personal .main-content .right-content-1 .information li span:nth-child(3) {
  font-size: 0.14rem;
  text-align: right;
  color: #4C90F5;
  cursor: pointer;
}
.personal .main-content .right-content-1 .information li input {
  border: 1px solid #e1e1e1;
  width: 50%;
  height: 0.4rem;
  box-sizing: border-box;
  padding-left: 0.1rem;
}
.personal .main-content .right-content-1 .information li button {
  cursor: pointer;
  background: #f5f5f5;
  border: 1px solid #ddd;
  width: 1.16rem;
  height: 0.4rem;
  line-height: 0.4rem;
  margin-right: 0.3rem;
  border-radius: 0.04rem;
}
.personal .main-content .right-content-1 .information li button:hover {
  background: #A3DDA0;
}
.personal .main-content .right-content-1 .information li b {
  font-weight: normal;
  float: right;
  font-size: 0.12rem;
  color: #888;
  margin-right: 0.3rem;
  line-height: 0.1rem;
}
.personal .main-content .right-content-2 ul {
  width: 100%;
  padding: 0;
}
.personal .main-content .right-content-2 ul li {
  cursor: pointer;
  width: 100%;
  display: block;
  list-style: none;
  box-sizing: border-box;
  padding: 0.1rem;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 0.2rem;
}
.personal .main-content .right-content-2 ul li a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: #222;
  font-size: 0.18rem;
  font-weight: 600;
}
.personal .main-content .right-content-2 ul li a:hover {
  color: #397BFF;
}
.personal .main-content .right-content-2 ul li span {
  color: #9f9f9f;
  font-size: 0.14rem;
  display: inline-block;
}
.personal .main-content .right-content-3 a {
  text-decoration: none;
  color: #333;
}
.personal .main-content .right-content-3 .content-box {
  margin: 0;
  padding: 0;
}
.personal .main-content .right-content-3 .content-box li {
  display: block;
  margin-left: 0.1rem;
  padding: 0.1rem;
  border-bottom: 1px solid #cdcdcd;
  font-size: 0.14rem;
}
.personal .main-content .right-content-3 .content-box li a {
  text-decoration: none;
  color: #fff;
}
.personal .main-content .right-content-3 .content-box li span {
  margin-right: 0.1rem;
  color: #337ab7;
  cursor: pointer;
}
.personal .main-content .right-content-3 .content-box li span:hover {
  color: #f6821b;
}
.personal .main-content .right-content-3 .content-box li span:nth-child(1) {
  color: #9f9f9f;
  margin: 0;
}
.personal .main-content .right-content-3 .content-box li span:nth-child(1):hover {
  color: #9f9f9f;
}
.personal .main-content .right-content-3 .content-box li:nth-child(1) {
  border: none;
  width: 0.9rem;
  margin: 0 0 0.1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.04rem;
  padding: 0.1rem;
  color: #fff;
  background: orange;
}
.personal .main-content .right-content-3 .content-box li:nth-child(1):hover {
  color: red;
}
.personal .main-content .right-content-3 .content-box li:nth-child(2) {
  border: none;
  color: #9f9f9f;
  margin-bottom: 0.1rem;
  padding: 0;
}
.personal .main-content .right-content-3 .list-content {
  padding: 0 0 0 0.1rem;
  margin: 0.2rem 0 0;
}
.personal .main-content .right-content-3 .list-content li {
  display: block;
  margin-top: 0.15rem;
  padding-bottom: 0.15rem;
  overflow: hidden;
  border-bottom: #cdcdcd 1px solid;
}
.personal .main-content .right-content-3 .list-content li img {
  padding-right: 0.1rem;
  display: inline-block;
  width: 1.5rem;
  height: 0.8rem;
  float: left;
}
.personal .main-content .right-content-3 .list-content li h4 {
  color: #222;
  font-weight: 600;
  display: inline-block;
  margin: 0;
  float: left;
}
.personal .main-content .right-content-3 .list-content li h4:hover {
  color: #f6821b;
}
.personal .main-content .right-content-3 .list-content li span {
  color: #9f9f9f;
  font-size: 0.14rem;
  float: left;
}
.personal .main-content .right-content-3 .list-content li .btn,
.personal .main-content .right-content-3 .list-content li button {
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
  padding: 0px 10px;
  border-radius: 4px;
  color: red;
  font-size: 14px;
  margin-top: 7px;
  background: #fff;
  border: 1px solid #bbb;
}
.personal .main-content .right-content-3 .list-content li .btn {
  color: #06F;
}
.personal .main-content .right-content-3 .lazy {
  margin-top: 0.2rem;
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  border-radius: 8px;
  display: block;
  background: #F5F5F5;
  border: #F5F5F5 1px solid;
  text-align: center;
  color: #777;
  float: left;
  cursor: pointer;
}
.personal .main-content .right-content-3 .lazy:hover {
  background: #fff;
  border-color: #DCDCDC;
}
.personal .main-content .right-content-4 ul {
  padding: 0;
  margin: 0;
}
.personal .main-content .right-content-4 ul li {
  display: block;
  padding: 0.05rem 0 0.15rem 0.05rem;
  border-bottom: #cdcdcd 1px solid;
}
.personal .main-content .right-content-4 ul li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 0.18rem;
  display: block;
}
.personal .main-content .right-content-4 ul li a:hover {
  color: #f6821b;
}
.personal .main-content .right-content-4 ul li span {
  color: #9f9f9f;
  font-size: 0.14rem;
}
.personal .main-content .right-content-4 ul li button {
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
  padding: 0px 10px;
  border-radius: 4px;
  color: red;
  font-size: 14px;
  margin-top: 7px;
  background: #fff;
  border: 1px solid #bbb;
}
.personal .main-content .right-content-5 ul {
  margin: 0;
  padding: 0;
}
.personal .main-content .right-content-5 ul li {
  overflow: hidden;
  display: block;
  padding: 0.1rem 0 0.15rem 0.05rem;
  border-bottom: #cdcdcd 1px solid;
}
.personal .main-content .right-content-5 ul li img {
  margin-right: 0.1rem;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  float: left;
  border-radius: 0.04rem;
}
.personal .main-content .right-content-5 ul li a {
  text-decoration: none;
  float: left;
  color: #337ab7;
}
.personal .main-content .right-content-5 ul li a:hover {
  color: #f6821b;
}
.personal .main-content .right-content-5 ul li span {
  color: #9f9f9f;
  font-size: 0.14rem;
  float: left;
  display: inline-block;
}
.personal .main-content .right-content-6 ul {
  margin: 0;
  padding: 0;
}
.personal .main-content .right-content-6 ul li {
  width: 100%;
  padding: 0.1rem 0 0.15rem;
  border-bottom: #cdcdcd 1px solid;
  display: block;
}
.personal .main-content .right-content-6 ul li:nth-last-child(1) {
  border: none;
  margin-top: 0.1rem;
}
.personal .main-content .right-content-6 ul li:nth-last-child(1) button {
  margin-left: 2.3rem;
  border: 1px solid #9f9f9f;
  cursor: pointer;
  padding: 0.1rem 0.2rem;
  color: #fff;
  background: #06F;
  border-radius: 0.04rem;
}
.personal .main-content .right-content-6 ul li span {
  color: #333;
  font-size: 0.16rem;
  padding-left: 0.1rem;
  display: inline-block;
  width: 25%;
  text-align: left;
}
.personal .main-content .right-content-6 ul li input {
  width: 40%;
  height: 0.4rem;
  box-sizing: border-box;
  padding-left: 0.1rem;
}
.personal .main-content .right-content-6 ul li p {
  display: inline-block;
  margin: 0;
}
.personal .main-content .right-content-7 h4,
.personal .main-content .right-content-7 p,
.personal .main-content .right-content-7 span {
  margin: 0;
  padding: 0;
}
.personal .main-content .right-content-7 .column-box {
  margin-bottom: 0.2rem;
}
.personal .main-content .right-content-7 .column-box h4 {
  margin-bottom: 0.05rem;
}
.personal .main-content .right-content-7 h4 {
  margin-bottom: 0.05rem;
  color: #222;
  font-weight: normal;
  font-size: 0.16rem;
}
.personal .main-content .right-content-7 .headline {
  margin-bottom: 0.2rem;
}
.personal .main-content .right-content-7 .headline input {
  width: 100%;
  height: 0.34rem;
  padding: 0.06rem 0.12rem;
  font-size: 0.14rem;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0.04rem;
  box-sizing: border-box;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.personal .main-content .right-content-7 .antistop {
  margin: 0.2rem 0;
}
.personal .main-content .right-content-7 .antistop input {
  width: 100%;
  height: 0.34rem;
  padding: 0.06rem 0.12rem;
  font-size: 0.14rem;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0.04rem;
  box-sizing: border-box;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.personal .main-content .right-content-7 .content {
  width: 100%;
  overflow: hidden;
}
.personal .main-content .right-content-7 .content textarea {
  width: 100%;
  box-sizing: border-box;
}
.personal .main-content .right-content-7 .content img {
  display: block;
  max-height: 1rem;
  max-width: 1.65rem;
}
.personal .main-content .right-content-7 .content .avatar-uploader > .ant-upload {
  width: 128px;
  height: 80px;
  text-align: center;
  border: 1px dashed #888;
}
.personal .main-content .right-content-7 .content .avatar-uploader > .ant-upload .ant-upload-text {
  cursor: pointer;
  width: 100%;
  height: 100%;
  line-height: 0.8rem;
}
.personal .main-content .right-content-7 .content .avatar-uploader > .ant-upload i {
  display: none;
}
.personal .main-content .right-content-7 .content button {
  display: block;
  padding: 0.06rem 0.1rem;
  cursor: pointer;
  margin-top: 0.1rem;
}
.personal .main-content .right-content-7 .content span {
  color: #9f9f9f;
  font-size: 0.12rem;
}
.personal .main-content .right-content-7 .uploading {
  margin-bottom: 0.2rem;
}
.personal .main-content .right-content-7 .uploading .content {
  width: 100%;
  float: right;
  overflow: hidden;
}
.personal .main-content .right-content-7 .uploading .content img {
  display: block;
  max-height: 1rem;
  max-width: 1.65rem;
}
.personal .main-content .right-content-7 .uploading .content button {
  display: block;
  padding: 0.06rem 0.1rem;
  cursor: pointer;
  margin-top: 0.1rem;
}
.personal .main-content .right-content-7 .uploading .content span {
  color: #9f9f9f;
  font-size: 0.12rem;
}
.personal .main-content .right-content-7 .explain {
  margin-bottom: 0.15rem;
}
.personal .main-content .right-content-7 .explain p {
  font-size: 0.14rem;
  color: #777;
}
.personal .main-content .right-content-7 .submit {
  padding-top: 0.15rem;
  border-top: #cdcdcd 1px solid;
}
.personal .main-content .right-content-7 .submit button {
  cursor: pointer;
  padding: 0.06rem 0.12rem;
  font-size: 0.14rem;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 0.04rem;
  background: #FFF;
  color: #333;
}
.personal .main-content .right-content-7 .submit button:nth-child(1) {
  background: orange;
  color: #FFF;
}
.personal .main-content .right-content-8 img {
  width: 100%;
  margin-bottom: 0.2rem;
}
.personal .main-content .right-content-8 .btn {
  float: left;
  width: 33%;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}
.personal .main-content .right-content-8 .btn:nth-child(3) {
  padding-left: 0.6rem;
  text-align: left;
}
.personal .main-content .right-content-8 .btn:nth-last-child(1) {
  text-align: right;
  padding-right: 0.6rem;
}
.personal .main-content .right-content-8 .btn button {
  cursor: pointer;
  padding: 0.1rem 0.2rem;
  background: blue;
  color: #fff;
  border: #cdcdcd 1px solid;
  border-radius: 0.04rem;
}
.personal .main-content .right-content-8 .btn button:hover {
  background: white;
  color: #999;
}
.personal .main-content .right-content-9 img {
  width: 100%;
}
.personal .main-content .right-content-9 .a {
  margin-bottom: 0.2rem;
  overflow: hidden;
}
.personal .main-content .right-content-9 .a h4 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0.14rem;
  color: #333;
  width: 15%;
  text-align: right;
  line-height: 0.34rem;
}
.personal .main-content .right-content-9 .certificates select {
  width: 83%;
  float: right;
  height: 0.34rem;
  box-sizing: border-box;
  padding: 0.06rem 0.12rem;
  font-size: 0.14rem;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.04rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.personal .main-content .right-content-9 .name input {
  width: 83%;
  float: right;
  height: 0.34rem;
  box-sizing: border-box;
  padding: 0.06rem 0.12rem;
  font-size: 0.14rem;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.04rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.personal .main-content .right-content-9 .number input {
  width: 83%;
  float: right;
  height: 0.34rem;
  box-sizing: border-box;
  padding: 0.06rem 0.12rem;
  font-size: 0.14rem;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.04rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.personal .main-content .right-content-9 .pn h4 {
  line-height: 0;
}
.personal .main-content .right-content-9 .pn .content {
  width: 83%;
  float: right;
  overflow: hidden;
}
.personal .main-content .right-content-9 .pn .content img {
  display: block;
  max-height: 1rem;
  max-width: 1.65rem;
}
.personal .main-content .right-content-9 .pn .content .avatar-uploader > .ant-upload {
  width: 128px;
  height: 80px;
  text-align: center;
  border: 1px dashed #888;
}
.personal .main-content .right-content-9 .pn .content .avatar-uploader > .ant-upload .ant-upload-text {
  cursor: pointer;
  width: 100%;
  height: 100%;
  line-height: 0.8rem;
}
.personal .main-content .right-content-9 .pn .content .avatar-uploader > .ant-upload i {
  display: none;
}
.personal .main-content .right-content-9 .pn .content button {
  display: block;
  padding: 0.06rem 0.1rem;
  cursor: pointer;
  margin-top: 0.1rem;
}
.personal .main-content .right-content-9 .pn .content span {
  color: #9f9f9f;
  font-size: 0.12rem;
}
.personal .main-content .right-content-9 .checkbox {
  width: 83%;
  float: right;
  font-size: 0.13rem;
  margin-bottom: 0.1rem;
}
.personal .main-content .right-content-9 .checkbox label {
  cursor: pointer;
}
.personal .main-content .right-content-9 .checkbox label a {
  text-decoration: none;
  color: #23527c;
}
.personal .main-content .right-content-9 .checkbox label a:hover {
  color: #f6821b;
}
.personal .main-content .right-content-9 .btn {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 20%;
  padding-top: 0.1rem;
  border-top: 1px solid #cdcdcd;
}
.personal .main-content .right-content-9 .btn button {
  cursor: pointer;
  color: #333;
  border: 1px solid #ccc;
  padding: 0.06rem 0.12rem;
  background: #fff;
  border-radius: 0.04rem;
}
.personal .main-content .right-content-9 .btn button:hover {
  background: #adadad;
}
