<?php
defined('KONE_ADMIN') or exit('You have no right to access this page');
include $this->load_tpl('header');
?>
<div class="warpper">
    <div class="title">
        修改管理员
    </div>
    <div class="content">
        <div class="explanation" id="explanation">
            <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span>
            </div>
            <ul>
                <li>标识“<span style="color: red">*</span>”的选项为必填项，其余为选填项。</li>
            </ul>
        </div>
        <div class="flexilist">
            <div class="common-content">
                <div class="mian-info">
                    <form action="" method="post" name="" enctype="" id="category_info_form">
                        <div class="switch_info">
                            <div class="item">
                                <div class="label"><span class="require-field">*</span>&nbsp;账号 ：</div>
                                <div class="label_value">
                                    <input type="text" readonly   id=adminname value="<?php echo $data["adminname"]?>"   class="text" placeholder="请输入账号" /> <span></span>
                                </div>

                            </div> 
                            <div class="item">
                                <div class="label"><span class="require-field">*</span>&nbsp;组名：</div>
                                <div class="label_value">
                                    <select name="data[gid]" >
                                    <?php
                                       if($gteamArr){
                                          foreach($gteamArr as $a){
                                              echo "<option value=".$a["id"];
											  if($a["id"]==$data["gid"]) echo " selected";
											  echo ">".$a["title"]."</option>";
                                          }
                                       }else{
                                          echo "<option value=0>请先添加组名</option>";
                                        }

                                    ?> 
                                    </select>
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">真实姓名：</div>
                                <div class="label_value">
                                    <input type="text" name=data[name]  value="<?php echo $data["name"]?>" class="text"/>
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">所属部门：</div>
                                <div class="label_value">
                                    <input type="text" class="text" name=data[department]  value="<?php echo $data["department"]?>" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">联系电话：</div>
                                <div class="label_value">
                                    <input type="text" class="text" name=data[tel]  value="<?php echo $data["tel"]?>" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">联系地址：</div>
                                <div class="label_value">
                                    <input type="text" class="text" name=data[addr]  value="<?php echo $data["addr"]?>" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">个人邮箱：</div>
                                <div class="label_value">
                                    <input type="text" class="text" name=data[email]  value="<?php echo $data["email"]?>" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">QQ：</div>
                                <div class="label_value">
                                    <input type="text" class="text" name=data[qq] value="<?php echo $data["qq"]?>" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">微信号：</div>
                                <div class="label_value">
                                    <input type="text" class="text" name=data[wechat]  value="<?php echo $data["wechat"]?>" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">身份证号 ：</div>
                                <div class="label_value">
                                    <input type="text" class="text" name=data[sfz]  value="<?php echo $data["sfz"]?>" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">账号有效期：</div>
                                <div class="label_value">
                                    <div class="time">
                                        <input type="text"  value="<?php echo $data["riqi_start"]?>"  class="w125 text" data-beatpicker="true"
                                               name="data[riqi_start]" />
                                        <span>~</span>
                                        <input type="text"  class="w125  text"  value="<?php echo $data["riqi_expire"]?>"  data-beatpicker="true"
                                               name="data[riqi_expire]" /> 
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">绑定IP ：</div>
                                <div class="label_value">
        <input class="control-input"  name=data[ifip]  style="vertical-align: middle;margin-right: 5px" type="checkbox" <?php if(!$data["ifip"]) echo " checked";?> />
		<input type="text" class="text" disabled="true" value="<?php echo $data["ip"]?>"   name=data[ip] />
                                </div>
                            </div>
                           <div class="goods_footer">
        <div class="goods_btn_fixed goods_btn"> 
            <a href="javascript:void(0);" class="btn btn35 blue_btn  dosubmit"><i class="sc_icon goods_complete_icon"></i>确认提交</a>
        </div>
    </div> 
	<input type=submit class=mysubmit style="visibility:hidden">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
	   
		$("#adminname").blur(function(){
		    adminname=$.trim($(this).val());
		    if(adminname==""){
		        $(this).siblings("span").html("<font color=red>请输入账号</font>");
				return false;
		    }
			// 唯一性检查 
			$.ajax({ 
        		    type:"post",
        		    dataType:"json",
        		    url:"?c=admin&a=ajax_check_adminname",
        		    data:{"adminname":adminname,"adminname0":"<?php echo $data["adminname"]?>"},
        		    success:function(json){
        		    	if(json.success=='0'){
        		    		$("#adminname").siblings("span").html("<font color=green>输入正确 ！</font>"); 
        		    	}else{
        		    		$("#adminname").siblings("span").html("<font color=red>该管理员已经存在，不允许重复！</font>"); 
						}
        		    }
        		})
				
		}); 
		$("#adminname").focus(function(){ 
		        $(this).siblings("span").text("");
		});
	 $(".dosubmit").click(function(){
	 
		    adminname=$.trim($("#adminname").val());
		    if(adminname==""){
		        $("#adminname").siblings("span").html("<font color=red>请输入账号</font>");
				return false;
		    }
			
		   $(".mysubmit").click();
		});
		
	   
	   
	   
        $("#explanationZoom").click(function () {
            $(".explanation").toggleClass("jia")
        })
        $(".select-jia").click(function(){
            var dom=$(".screening")
            var clone_dom=dom.clone()
            clone_dom.find(".select-jia").removeClass("select-jia").addClass("select-jian")
            $(this).parents(".label_value").append(clone_dom.eq(0))
            $(".select-jian").click(function(){
                console.log(121)
                $(this).parents(".screening").remove()
            })
        })
        $(".control-input").click(function () {
            $(this).prop("checked")
            if ($(this).prop("checked")) {
                $(this).siblings("input").attr("disable", false)
                $(this).siblings("input").removeAttr("disabled");
            } else {
                $(this).siblings("input").attr("disabled", "disabled");
            }
        })

    })
</script>
</body>
</html>