<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>平台管理系统</title>
    <link rel="stylesheet" href="<?php echo STATIC_PATH?>css/select-color.css"/>
    <link rel="stylesheet" href="<?php echo STATIC_PATH?>css/BeatPicker.css"/>
    <link rel="stylesheet" href="<?php echo STATIC_PATH?>css/font-awesome.min.css"/>
    <link rel="stylesheet" href="<?php echo STATIC_PATH?>css/right-style.css"/>
    <script src="<?php echo STATIC_PATH?>js/jquery-1.8.3.min.js"></script>
    <script src="<?php echo STATIC_PATH?>js/BeatPicker.min.js"></script>
	 
</head>
<body>

 