<?php
defined('KONE_ADMIN') or exit('You have no right to access this page');
include $this->load_tpl('header');
?>
<div class="warpper">
    <div class="title">
        文档列表
    </div>
    <div class="content">
        <div class="explanation" id="explanation">
            <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span>
            </div>
            <ul>
                <li><a href="?c=i&a=manage" class=seeAll>点击此处</a> 查看全部</li>
                <li>当前共计：<a  class=seeAll><?php echo $amount;?></a> 条数据</li> 
                
            </ul>
        </div>
		<?php 
				echo "<input type=hidden class=pageurl value=$pageurl />";
				if($soArr){
             echo "<div class=so><ul>";  
				     foreach($soArr as $a){
					     $mytitle=$a["mytitle"];
						 $myv=$a["myv"];
						 $myk=$a["myk"];
						 echo "<li >$mytitle:&nbsp;&nbsp;&nbsp;<span class=soli><font style='color:#f00'>$myv</font>&nbsp;&nbsp;&nbsp;&nbsp;<font class=delSo k=$myk>X</font></span></li>";
					 }
					 
			 echo "</ul></div>"; 
				}
				
		?> 
		
        <div class="article">
            <form action="">
                <table>
                    <thead>
                    <tr>
                        <th width="50">
                            <div class="checkbox-all"></div>
                        </th>
                        <th width="80">行号</th>
                        <th width="50">ID</th>
                        <th width="100">权重</th> 
                        <th>标题</th>
                        <th width="150">日期</th>
                        <th width="150">点击</th>
                        <th width="200">设置</th>
                        <th width="200">操作</th>
                    </tr>
                    </thead>
                    <tbody>
					<?php $i=1;foreach($listArr as $a){?>
                    <tr>
                        <td>
                            <div class="checkbox"   lineid=<?php echo $a["id"]?>></div>
                        </td>
                        <td class="td2"><span><?php echo $i++?></span></td>
                        <td><span><?php echo $a["id"]?></span></td>
                        <td class="td4"><input class=orderid type="text" value=<?php echo $a["orderid"]?> /></td> 
                        <td class="td3 shangpin">
                                    <div>
                                        <a href="?<?php echo $url?>&id=<?php echo $a["id"]?>&page=<?php echo $curpage?>"><img src="<?php echo $a["picdir_list"]?>" alt=""/></a>
                                    </div>
                                    <div>
                                        <div>
										 <a class=listTitle href="?<?php echo $url?>&page=<?php echo $curpage?>&id=<?php echo $a["id"]?>&page=<?php echo $curpage?>"><?php echo $a["title"]?></a>
										 </div>
                                       <div>
									   <?php
									     if($a["mymArr"]){
										     foreach($a["mymArr"] as $b){
											     $mysort=$b["mysort"];
												 $myv=$b["myv"];
												 if($myv)
												 echo "<font style='color:$27A9E3'>[$mysort : $myv ]</font><br>";
											 }
										 }
									   ?>
                                        
                                       </div>
                                </td> 
                        <td><?php echo $a["riqi"]?></td>
                        <td><?php echo $a["hitnum"]?></td>
                        <td>
                            <div>
                                <span class="biaoqian-lable">推荐：</span>
                                <div class="biaoqian  <?php if(!$a["ifhot"]) echo " switch"?> " bid=<?php echo $a["id"]?> sort=ifhot>
                                    <div class="circle"></div>
                                </div>
                            </div> 
							
                            <div>
                                <span class="biaoqian-lable">头条：</span>
                                <div class="biaoqian  <?php if(!$a["ifone"]) echo " switch"?> " bid=<?php echo $a["id"]?> sort=ifone>
                                    <div class="circle"></div>
                                </div>
                            </div> 
                            <div>
                                <span class="biaoqian-lable">置顶：</span>
                                <div class="biaoqian  <?php if(!$a["ifhead"]) echo " switch"?> " bid=<?php echo $a["id"]?> sort=ifhead>
                                    <div class="circle"></div>
                                </div>
                            </div> 
                            <div>
                                <span class="biaoqian-lable">首页：</span>
                                <div class="biaoqian  <?php if(!$a["ifindex"]) echo " switch"?> " bid=<?php echo $a["id"]?> sort=ifindex>
                                    <div class="circle"></div>
                                </div>
                            </div> 
                            <div>
                                <span class="biaoqian-lable">显示：</span>
                                <div class="biaoqian  <?php if($a["ifhidden"]) echo " switch"?> " bid=<?php echo $a["id"]?> sort=ifhidden>
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div>
                                <span class="biaoqian-lable">审核：</span>
                                <div class="biaoqian  <?php if(!$a["ifchecked"]) echo " switch"?> " bid=<?php echo $a["id"]?> sort=ifchecked>
                                    <div class="circle"></div>
                                </div>
                            </div> 
                        </td>
                        <td>
                            <div class="a3">
                                <!-- <a href="../index.php?c=i&id=<?php echo $a['id']?>" target=_blank class="btn_see"><i class="sc_icon sc_icon_see"></i>查看</a>  -->
                                <a href="?id=<?php echo $a['id']?>&<?php echo $url?>&page=<?php echo $curpage?>" class="btn_edit"><i class="icon icon-edit"></i>编辑</a>
                                <a href="javascript:;" class="btn_trash" id=<?php echo $a['id']?>><i class="icon icon-trash"></i>移除</a> 
                            </div>
                        </td>
                    </tr>
                   <?php }?>
                    </tbody>
 <?php 
include $this->load_tpl('tfooter');
?>
                </table>
            </form>
        </div>
         
    </div>
</div>
<form method="post" action="?c=i&a=manage">
    <div class="gj_search">
        <div class="search-gao-list" id="searchBarOpen">
            <i class="icon icon-zoom-in"></i>高级搜索
        </div>
        <div class="search-gao-bar" style="right:-350px;">
            <div class="handle-btn" id="searchBarClose"><i class="icon icon-zoom-out"></i>收起边栏</div>
            <div class="title"><h3>高级搜索</h3></div>
            <div class="searchContent w300">
                <div class="layout-box">
                    <!-- 分类 -->
                    <dl class="w300">
                        <dt>发布日期</dt>
                        <dd>
                            <div class="time">
                                <input type="text"  class="is_p2 w100" data-beatpicker="true"
                                       name="riqi1"/>
                                <span>~</span>
                                <input type="text"  class="is_p2 w100" data-beatpicker="true"
                                       name="riqi2"/>
                            </div>
                        </dd>
                    </dl>
                    <!-- 分类end -->

                    <!-- 推荐 -->
                    <dl class="w140">
                        <dt>所属目录</dt>
                        <dd>
                            <div id="" class="imitate_select select_w140">
                                <select class="w140" name="cataid" >
                                    <option value="_">全部</option>
                                   <?php echo $cataSelect?>
                                </select>
                            </div>
                        </dd>
                    </dl>
                    
                    <dl class="w140">
                        <dt>审核设置</dt>
                        <dd>
                            <div id="" class="imitate_select select_w140">
                                <select class="w140" name="ifchecked" >
                                    <option value=_>请选择</option>
                                    <option value=0>已审核</option>
                                    <option value=1>未审核</option>
                                </select>
                            </div>
                        </dd>
                    </dl>
                    <dl class="w140">
                        <dt>推荐设置</dt>
                        <dd>
                            <div id="" class="imitate_select select_w140">
                                <select class="w140" name="ifhot" >
                                    <option value=_>请选择</option>
                                    <option value=0>推荐</option>
                                    <option value=1>其它</option>
                                </select>
                            </div>
                        </dd>
                    </dl>
                  
                    <dl class="w140">
                        <dt>头条设置</dt>
                        <dd>
                            <div id="" class="imitate_select select_w140">
                                <select class="w140" name="ifone" >
                                    <option value=_>请选择</option>
                                    <option value=0>头条</option>
                                    <option value=1>其它</option>
                                </select>
                            </div>
                        </dd>
                    </dl>
                    <dl class="w140">
                        <dt>置顶设置</dt>
                        <dd>
                            <div id="" class="imitate_select select_w140">
                                <select class="w140" name="ifhead" >
                                    <option value=_>请选择</option>
                                    <option value=0>置顶</option>
                                    <option value=1>其它</option>
                                </select>
                            </div>
                        </dd>
                    </dl>
                    <dl class="w140">
                        <dt>首页设置</dt>
                        <dd>
                            <div id="" class="imitate_select select_w140">
                                <select class="w140" name="ifindex" >
                                    <option value=_>请选择</option>
                                    <option value=0>首页</option>
                                    <option value=1>其它</option>
                                </select>
                            </div>
                        </dd>
                    </dl>
                    <dl class="w140">
                        <dt>显示/隐藏</dt>
                        <dd>
                            <div id="selbrand" class="imitate_select select_w140 mr10">
                                <select class="w140" name="ifhidden" >
                                    <option value=_>请选择</option>
                                    <option value=1>显示</option>
                                    <option value=0>隐藏</option>
                                </select>
                            </div>
                        </dd>
                    </dl>
			 

				<?php
				   if($shuxArr){
				      foreach($shuxArr as $a){
					      $title_=$a["title"];
					      $subsort_=$a["subsort"];
                          $fieldname_=$a["fieldname"];
                          $selectList=$a["mylist"];
						  echo "<dl class=w140>";
						  echo "<dt>$title_</dt>";
						  echo "<dd>";
						  echo "<div class='imitate_select select_w140'>";
						  echo "<select class=w140 name=".$fieldname_.">";
						  echo "<option value=_>请选择</option>";
						  echo $selectList;
					      
						  echo "</select>";
                          echo "</div>";
                          echo "</dd> ";
                          echo "</dl> ";
					  }
				   }
				?>

                    <!-- 品牌 -->

                    <!-- 关键字 -->
                    <dl class="w140">
                        <dt>关键字</dt>
                        <dd>
                            <input type="text" name="w" size="15" class="text gjc w130 mr0" autocomplete="off"/>
                        </dd>
                    </dl> 

                </div>
            </div>
            <div class="bot_btn soheight<?php echo 5+ceil(count($shuxArr)/2) ?>">
                <input type="submit" class="btn red_btn"   value="提交查询"/>
                <input type="button" class="btn blue_btn"   value="查看全部" onClick="javascript:window.location.href='?c=i&a=manage'"/> 
            </div>
        </div>
    </div>
</form>

					
<script language=javascript>
	    $(function () {						
							
		//开关
        $(".biaoqian").click(function () {
			bid=$(this).attr("bid");
			sort=$(this).attr("sort"); 
			if($(this).hasClass("switch")){ //关闭
			    v=1;
			}else{//打开
			   v=0;
			}
			
			if(sort=="ifhot"){
			  $.ajax({
				    type:"post",
					url:"?c=i&a=ajax_set_ifhot",
					dataType:"json",
					data:{"ifhot":v,"id":bid }
				});
			 
			}
			if(sort=="ifchecked"){
			  $.ajax({
				    type:"post",
					url:"?c=i&a=ajax_set_ifchecked",
					dataType:"json",
					data:{"ifchecked":v,"id":bid }
				});
			 
			}
			
			if(sort=="ifone"){
			  $.ajax({
				    type:"post",
					url:"?c=i&a=ajax_set_ifone",
					dataType:"json",
					data:{"ifone":v,"id":bid }
				});
			 
			}
			
			if(sort=="ifhead"){
			  $.ajax({
				    type:"post",
					url:"?c=i&a=ajax_set_ifhead",
					dataType:"json",
					data:{"ifhead":v,"id":bid }
				});
			 
			}
			
			if(sort=="ifindex"){
			  $.ajax({
				    type:"post",
					url:"?c=i&a=ajax_set_ifindex",
					dataType:"json",
					data:{"ifindex":v,"id":bid }
				});
			 
			}
			
			if(sort=="ifhidden"){
			 
			  $.ajax({
				    type:"post",
					url:"?c=i&a=ajax_set_ifhidden",
					dataType:"json",
					data:{"ifhidden":v,"id":bid}
				});
			 
			}
            $(this).toggleClass("switch")
        })
		//单个删除
    	$(".btn_trash").click(function(){
    		id=$(this).attr("id");
    		$.ajax({
    		    type:"post",
    		    dataType:"json",
    		    url:"?c=i&a=ajax_del",
    		    data:{"id":id},
    		    success:function(json){
    		    	if(json.success==0){
    		    		location.reload();
    		    	}
    		    }
    		})
    	});
		
		//删除单个搜索条件
		
    	$(".delSo").click(function(){
		    pageurl=$(".pageurl").val();
			k=$(this).attr("k");
			 $.ajax({ 
        		    type:"post",
        		    dataType:"json",
        		    url:"?c=i&a=ajax_del_so",
        		    data:{"k":k,"pageurl":pageurl},
        		    success:function(json){
        		    	if(json.success==0){
        		    		window.location.href="?"+json.url;
        		    	}
        		    }
        		})
		})
		
		
		//页面跳转
    	$("#gotoPage").change(function(){
    		page=$(this).val();
    		url="?"+$("#pageurl").val()+"&page="+page;
    		 
    		window.location.href=url
    	});
		
	//批量操作
    	$(".dopiliang").click(function(){
    		action=$("#piliang").val();
    		var ids = '';
    		var idsAll = '';
    		var orderid = '';
    		var url = '';
    		for(var i=0;i<=$(".checkbox").length-1;i++){
    			if($(".checkbox").eq(i).html()!=''){
    				ids+=$(".checkbox").eq(i).attr('lineid')+',';
    			}
				 idsAll+=$(".checkbox").eq(i).attr('lineid')+',';
				 orderid+=$(".checkbox").eq(i).parents("tr").find(".orderid").val()+",";
				 url+=$(".checkbox").eq(i).parents("tr").find(".redirect").val()+",";
    		}
			
    		
			 //批量删除
    		if(action=="del"){ 
			if(ids!=''){ 
    			ids=ids.substring(0,ids.length-1); 
    		}else{
    			alert("没有选中的项！");
    			return;
    		} 
			
        		$.ajax({ 
        		    type:"post",
        		    dataType:"json",
        		    url:"?c=i&a=ajax_dels",
        		    data:{"ids":ids},
        		    success:function(json){
        		    	if(json.success==0){
        		    		location.reload();
        		    	}
        		    }
        		})
    		} 
			 //排序
			
    		if(action=="orderid"){ 
			 $.ajax({ 
        		    type:"post",
        		    dataType:"json",
        		    url:"?c=i&a=ajax_orderid",
        		    data:{"ids":idsAll,"orderid":orderid},
        		    success:function(json){
        		    	if(json.success==0){
        		    		location.reload();
        		    	}
        		    }
        		})
    		} 
		 
			
    	});
    	
 }) 
		
</script>


<script>
    $(function () {
        $("#explanationZoom").click(function () {
            $(".explanation").toggleClass("jia")
        })
        
        $(".checkbox").click(function(){
            if($(this).html()==""){
                $(this).html("√")
                $(this).css("background","#62B3FF")
                $(this).parents("tr").css("background","#FFFEE0")
            }else if($(this).html()=="√"){
                $(this).html("")
                $(this).css("background","#fff")
                $(this).parents("tr").css("background","#fff")
            }
            for(var i=0;i<$(".checkbox").length;i++){
                if($(".checkbox").eq(i).html()==""){
                    $(".checkbox-all").html("")
                    $(".checkbox-all").css("background","#fff")
                }else if($(".checkbox").eq(i).html()=="√"){
                    $(".checkbox-all").html("√")
                    $(".checkbox-all").css("background","#62b3ff")
                }
            }
        })
        $(".checkbox-all").click(function(){
            if($(this).html()==""){
                $(this).html("√")
                $(this).css("background","#62B3FF")
               $(".checkbox").html("√")
                $(".checkbox").css("background","#62B3FF")
                $(".checkbox").parents("tr").css("background","#FFFEE0")
            }else if($(this).html()=="√"){
                $(this).html("")
                $(this).css("background","#fff")
                $(".checkbox").html("")
                $(".checkbox").css("background","#fff")
                $(".checkbox").parents("tr").css("background","#fff")
            }
        })
//        高级搜索
        $(".search-gao-list").click(function () {
            $(this).animate({right: "-40"}, 300)
            $(".search-gao-bar").delay(300).animate({right: 0}, 500)
        })
        $(".search-gao-bar>.handle-btn").click(function () {
            $(this).parents(".search-gao-bar").animate({right: "-350"}, 500)
            $(".search-gao-list").delay(500).animate({right: 0}, 500)
        })
    })
</script>
</body>
</html>