<!DOCTYPE html>
<html lang="zh-cn"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>系统登录</title>
	
    <link rel="stylesheet" href="<?php echo STATIC_PATH?>login/base.css">
    <link rel="stylesheet" href="<?php echo STATIC_PATH?>login/style.css"> 
	
</head>
<body>

    <div class="bg"></div>
    <div class="container">
        <div class="line bouncein">
            <div class="xs6 xm4 xs3-move xm4-move">
                <div style="height:150px;"></div>
                <div class="media media-y margin-big-bottom">
                </div>
            <form action="#" method="post" class="loginfrm">
                    <div class="panel loginbox">
                        <div class="text-center margin-big padding-big-top">
                            <h1>系统登录</h1>
                        </div>
                        <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                            <div class="form-group">
                                <div class="field field-icon-right">
                                    <input class="input input-big name" name="name" type="text"  placeholder="登录账号" type="text">
                                    <span class="icon icon-user margin-small"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field field-icon-right">
                                    <input class="input input-big pwd" name="pwd" type="password" placeholder="登录密码" >
                                    <span class="icon icon-key margin-small"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field">
                                    <input class="input input-big yzm" name="yzm" placeholder="填写右侧的验证码" type="text">
                                    <img src="yzm.php" alt="" class="passcode" style="height:43px;cursor:pointer;" onclick="this.src=this.src+'?'" width="100" height="32">
                                </div>
                            </div>
                        </div>
                        <div style="padding:30px;">
                            <input id="button" class="button button-block bg-main text-big input-big clickme" value="登录" type="button">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body></html>

 <script src="<?php echo STATIC_PATH?>login/jquery-1.8.3.min.js"></script>   
<script>
document.onkeydown=function(event){
e = event ? event :(window.event ? window.event : null);
if(e.keyCode==13){ 
	var name = $(".name").val();
	var pwd = $(".pwd").val();
	var yzm = $(".yzm").val();
	 
	var mytishi="";
	if(name=="") mytishi+="账号、";
	if(pwd=="") mytishi+="密码、";
	if(yzm=="") mytishi+="验证码、";
		if (mytishi != "") {
			mytishi = mytishi.substring(0, mytishi.length - 1);
			mytishi +="不能为空";
			alert(mytishi);
			return false; 
	} else {
		$(".loginfrm").submit();
		return true;
	}
}
}
</script> 
<script type="text/javascript">
$(document).ready(function(){
 
 
		$(".clickme").click(function() {

		
	var name = $(".name").val();
	var pwd = $(".pwd").val();
	var yzm = $(".yzm").val();
	var mytishi="";
	if(name=="") mytishi+="账号、";
	if(pwd=="") mytishi+="密码、";
	if(yzm=="") mytishi+="验证码、";
		if (mytishi != "") {
			mytishi = mytishi.substring(0, mytishi.length - 1);
			mytishi +="不能为空";
			alert(mytishi);
			return false; 
	} else {
		$(".loginfrm").submit();
		return true;
	}
		
		
		});

	});
</script>
